certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
pyTelegramBotAPI==4.26.0
requests==2.32.3
urllib3==2.3.0
supabase==2.14.0
fastapi==0.115.5
uvicorn==0.32.0
python-multipart==0.0.17
pydantic==2.9.2
cryptography==43.0.0
